<div>
  <h2>Conditional Content Projection</h2>
  <ng-container *ngIf="showContent; else elseBlock">
      <ng-content select="[true-content]"></ng-content>
  </ng-container>
  <ng-template #elseBlock>
      <ng-content select="[false-content]"></ng-content>
  </ng-template>
</div>
