p{
    color:blue;
    font-weight: bold;
    font-size:xx-large;
}

.clstext
{
    color:brown;

}

#pid
{
    color:green;
}

*{
    
    color:bisque;
}

h1,h2{

    color:aqua;
}
 

h3{
    color:chartreuse;
}

.divclass
{

    color:brown;
}
#divid
{

    color:aqua;
}
