
<app-conditional-content>
  <div true-content>This content will be displayed when showContent is true.</div>
  <div false-content>This content will be displayed when showContent is false.</div>
</app-conditional-content>
