<p>Second App</p>
<p>{{name}}</p>
<button (click)="btnClick()">Click Me!!!!</button>

<button [disabled]="btndisabled">Second Button</button>
<h1 [style.color]="color">It's valentines </h1>
<h1 [style.font-size]="fontSize">It's valentines </h1>

<input (keyup)="onKeyUp($event)">
<p>{{text}}</p>

<input type="text" name="value" [(ngModel)]="value1">

<button (click)="checkValue()">Check!!!</button>
<p>{{value1}}</p>
