body {
  font: 100% Helvetica, sans-serif;
  color: red;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
}
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */