<!-- <p>{{'Jayanta'|lowercase}}</p> -->
<!-- Long date (uppercase): {{ currentDate | date:'fullDate' | uppercase }} -->
<img [src]="imageUrl | defaultImage:'https://m.media-amazon.com/images/M/MV5BM2QzMGVkNjUtN2Y4Yi00ODMwLTg3YzktYzUxYjJlNjFjNDY1XkEyXkFqcGc@._V1_QL75_UX140_CR0,0,140,207_.jpg':true"/>
<!-- <app-second></app-second> -->
