<ul>
  <li *ngFor="let item of data">{{item.title}}</li>
</ul>
id: <input  [(ngModel)]="id" />
name: <input  [(ngModel)]="name" />
email: <input  [(ngModel)]="email" />
number: <input  [(ngModel)]="number" />
<button (click)="saveData()">Save User Data</button>
