<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>First Angular</title>
</head>
<body>

  <p> This is my First Angular Application </p>
  <p>{{name}}</p>
  <app-data-component></app-data-component>
</body>
</html>
