
<button (click)="change()">click</button>
<div *ngFor="let str of myStr">{{str}}</div>
<app-parent1-child-1 [myStr]= "msgFromParent"></app-parent1-child-1>
<app-parent1-child-2></app-parent1-child-2>
