<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur magni saepe sint, vel eaque veniam recusandae laboriosam numquam necessitatibus? Laborum mollitia excepturi qui. Modi corporis quasi ab minima eligendi numquam!</p>

<div class="row">
    <div class="col-md-6" >
        <h1>Start Rating</h1>
        <router-outlet name="rate"></router-outlet>
        <h1>End Rating</h1>
    </div>
    <div class="col-md-6">
      <h1>Start FeeBack</h1>
        <router-outlet name="feed"></router-outlet>
        <h1>End FeeBack</h1>
    </div>
</div>
