<p>{{name}}</p>
<button (click)="updateName()">Update button</button>
<button [disabled]="buttonDisabled">Enabled Button</button>
<h1 [style.color]="color">It's valentines </h1>

<input type="text" name="value" [(ngModel)]="value">
<span>You just typed {{value}}</span>
<h1 [ngStyle]="{ backgroundColor: 'red' }">Hello angular</h1>
<div [ngClass]="'primary'">Sample Text</div>
