<img [src]="imageUrl | imgp:'https://m.media-amazon.com/images/M/MV5BM2QzMGVkNjUtN2Y4Yi00ODMwLTg3YzktYzUxYjJlNjFjNDY1XkEyXkFqcGc@._V1_QL75_UX140_CR0,0,140,207_.jpg'"/>
<p [class]="mycls">This is my text</p>
<app-lifecycle></app-lifecycle>
