<app-single-slot>
  <p>This content will be projected into the single-slot component.</p>
  <h1>This is another Content</h1>
</app-single-slot>

<app-multi-slot>
  <div header>Header Content</div>
  <div content>Main Content</div>
  <div footer>Footer Content</div>
</app-multi-slot>
<app-conditional-content>
  <div true-content>This content will be displayed when showContent is true.</div>
  <div false-content>This content will be displayed when showContent is false.</div>
</app-conditional-content>
