<div>
  <h2>Multi-Slot Content Projection</h2>
  <div>
      <ng-content select="[header]"></ng-content>
  </div>
  <div>
      <ng-content select="[content]"></ng-content>
  </div>
  <div>
      <ng-content select="[footer]"></ng-content>
  </div>
</div>
