<form [formGroup]="loginForm1" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
    <div *ngIf="loginForm1.get('email')?.invalid && loginForm1.get('email')?.touched">
      <div *ngIf="loginForm1.get('email')?.errors?.['required']">Email is required.</div>
      <div *ngIf="loginForm1.get('email')?.errors?.['email']">Invalid email format.</div>
    </div>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
    <div *ngIf="loginForm1.get('password')?.invalid && loginForm1.get('password')?.touched">
      <div *ngIf="loginForm1.get('password')?.errors?.['required']">Password is required.</div>
    </div>
  </div>

  <div>
    <label for="password">Captcha:</label>
    <input type="text" id="captcha" formControlName="captcha">
    <div *ngIf="loginForm1.get('captcha')?.invalid && loginForm1.get('captcha')?.touched">
      <div *ngIf="loginForm1.get('captcha')?.errors?.['required']">Captha is required.</div>
    </div>
  </div>
  <button type="submit" [disabled]="loginForm1.invalid">Login</button>
</form>
