<div *ngIf="isLoggedIn">
  <p>Welcome, {{ username }}!</p>
</div>

<p *ngIf="!isLoggedIn">Please login </p>
<button (click)="btnClick()">Login</button>

<ul>
  <li *ngFor="let item of items">{{ item }}</li>
</ul>

 
<div [ngSwitch]="num">
  <div *ngSwitchCase="'1'">One</div>
  <div *ngSwitchCase="'2'">Two</div>
  <div *ngSwitchCase="'3'">Three</div>
  <div *ngSwitchCase="'4'">Four</div>
  <div *ngSwitchCase="'5'">Five</div>
</div>
